/* column container which contains all the blocks */
#ColumnContainer {
	position: relative;
	margin-top: 49px;
	min-height: 500px;
}

.pin {
	position: absolute;
	background-color: #FFFFFF;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	font-size: 11px;
	padding: 15px 15px 0;
	width: 192px;
	/* too heavy for the computer
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	*/
}

.pin:hover {
	border-color: #707070;
	box-shadow: 0 1px rgba(34, 25, 25, 0.15) inset, 0 1px rgba(255, 255, 255, 0.8), 0 0 14px rgba(0, 82, 82, 0.35);
}

/* buttons */
.pin .buttons {
	margin: -15px;
	background-color: #F2F0F0;
	height: 40px;
}

.pin .buttons button {
	float: right;
	margin: 10px 15px 10px 0;
	border: 0 none;
	box-shadow: 0 1px rgba(255, 255, 255, 0.35) inset, 0 0 0 1px rgba(140, 126, 126, 0.5);
	border-radius: 6px 6px 6px 6px;
	padding: 7px 9px;
	background-color: #F0EDED;
	background-image: -moz-linear-gradient(center top , #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
	color: #524D4D;
	text-shadow: 0 1px rgba(255, 255, 255, 0.9);
	font-family: "helvetica neue",arial,sans-serif;
	font-weight: bold;
	line-height: 1em;
	font-size: 11px;
}

.pin button:hover {
	background-color: #F2F0F0;
	background-image: -moz-linear-gradient(center top , #FDFCFC, #FBF9F9 50%, #F7F5F6 50%, #F2F0F0);
	color: #666060;
	text-shadow: 0 1px rgba(255, 255, 255, 0.9);
}

.pin button:active {
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.25) inset, 0 0 2px rgba(232, 230, 230, 0.5);
	background-color: #EBE8E8;
	background-image: -moz-linear-gradient(center top , #F8F4F5, #F3F0F0 50%, #F1EEEF 50%, #EBE8E8);
	border-color: #B7B7B7;
	color: #454141;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

/* this is for after the like button is pressed down */
.likeButtonDown {
	color: #D1CDCD !important;
}

/* this is for the title of the image */
.pin .description {
	margin: 10px 0 5px;
}

.pin .status {
	margin-right: 10px;
	margin-bottom: 10px;
	color: #8C7E7E;
}

.convo {
	color: #524D4D;
	margin: 0 -15px;
	background-color: #F2F0F0;
}

.convo a {
	color: #524D4D;
}

.convo .ImgLink {
	float: left;
	margin-right: 6px;
	width: 30px;
	position: relative;
	display: block;
}

.comment {
	display: block;
	overflow: hidden;
	border-top: 1px solid #D9D4D4;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
}

/* size the avatar */
.comment img {
	height: 30px;
	width: 30px;
}

.comment p {
	width: 156px;
	margin: 0 0 0 36px;
	overflow: hidden;
	word-wrap: break-word;
	line-height: 1.35em;
}

/* hightlight the user name */
.userName {
	font-weight: bold;
	outline: medium none;
}

.commentMore {
	border-top: 1px solid #D9D4D4;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
}

.comment textarea {
	resize: none;
	color: #8C7E7E;
	line-height: 1em;
	border: 1px solid #CCCCCC;
	font-size: 11px;
	font-family: inherit;
	height: 21px;
	padding: 4px 3px 3px;
	width: 148px;
	background: none repeat scroll 0 0 #FCF9F9;
}

.commentButton {
	float: right;
	margin: 5px 15px;
	border: 0 none;
	box-shadow: 0 1px rgba(255, 255, 255, 0.35) inset, 0 0 0 1px rgba(140, 126, 126, 0.5);
	border-radius: 6px 6px 6px 6px;
	padding: 7px 9px;
	background-color: #F0EDED;
	background-image: -moz-linear-gradient(center top , #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
	color: #524D4D;
	text-shadow: 0 1px rgba(255, 255, 255, 0.9);
	font-family: "helvetica neue",arial,sans-serif;
	font-weight: bold;
	line-height: 1em;
	font-size: 11px;
}
